@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.event-container{
   max-width: 1200px;
   margin:0 auto;
   padding:1rem 2rem;
}

.event-container .event-title{
  font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-align: center;
}

.event-container .daftar-event{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap:10px;
}

.event-container .daftar-event .event{
   max-height: 50vh;
   width: 100%;
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.event-container .daftar-event .event:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.event-container .daftar-event .event img{
   height: 90%;
}

.event-container .daftar-event .event:hover img{
   transform: scale(.9);
}

.event-container .daftar-event .event h3{
   padding:.5rem 0;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   color:#444;
}

.event-container .daftar-event .event:hover h3{
   color:#27ae60;
}

.event-container .daftar-event .event .price{
   font-size: 1rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0 ;bottom:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   z-index: 9999;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:5rem;
   width: 30rem;
   z-index: 10000;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 15rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 2rem;
   transition: transform 0.5s;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
  font-family: 'Montserrat', sans-serif;
   color:#444;
   padding:.5rem 0;
   font-size: 1.25rem;
}


.products-preview .preview p{
  font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1rem;
   color:#777;
}





@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

/* kontak  */
.kontak-container{
   max-width: 1200px;
   margin:0 auto;
   padding:1rem 2rem;
}

.kontak-container .kontak-title{
  font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-align: center;
}

.contact-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.kontak{
  justify-content: center;
  align-items: center;
  display: contents;
}
.row{
   display: flex;
   justify-content: center;
   align-items: center;
}

.row .map {
  border-radius: 10px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
  object-fit: cover;
}

.card-info{
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in;
}

.contact-info a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: #131419;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: -5px -5px 10px #ffffff09, 5px 5px 10px #00000000 ;
  transition: all .5s ease-in;
}

.contact-info a:hover{
  box-shadow: inset -5px -5px 10px #ffffff09,inset 5px 5px 10px #00000000 ;
}

.icons{
  margin-right: 15px;
  transition: all .5s ease-in-out;
}

.contact-info a:hover .icons{
  transform: rotate(360deg) scale(1.5);
}

span{
  font-size: 14px;
  letter-spacing: 2px;
}


.icon1 span:hover {
  color: #0330fa;
  text-shadow: 0px 0px 20px #0330fa70;
}

.icon2 span:hover {
  color: #fa0361;
  text-shadow: 0px 0px 20px #fa036170;
}

.icon3 span:hover {
  color: #036efa;
  text-shadow: 0px 0px 20px #036efa70;
}

.icon4 span:hover {
  color: #075E54;
  text-shadow: 0px 0px 20px #075E5470;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .contact-info a{
   width: 100%;
  }
  .card-info{
    width: 150%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.ticket-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 1rem 2rem;
}

.ticket-container .ticket-title {
   font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   color: #444;
   margin-bottom: 3rem;
   text-align: center;
}

.daftar-ticket{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
   gap: 15px;
}

.ticket{
   height: 200px;
   /* background-color: #075E54; */
   background-image: url(../images/ticket.jpg);
   background-size: cover;
   border-radius: 9px;
   display: flex;
   /* justify-content: space-between; */
   align-items: center;
   font-size: 1.5rem;
}

.left{
   flex-direction: column;
   display: flex;
}

.image{
   border-top-left-radius: 9px;
   border-bottom-left-radius: 9px;
   width: 150px;
   height: 200px;
   background-image: url(../images/bcwf2023.png);
   background-size: cover;
}

.image span{
   margin: 15px;
   color: #D4AF37;
   font-weight: 900;
}

.center{
   justify-content: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.jenis{
   /* margin-left: px; */
   /* margin-bottom: 160px; */
   width: 261px;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   padding: 5px 0;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: #D4AF37;
}

.right{
   /* background-image: url("https://media.pitchfork.com/photos/60db53e71dfc7ddc9f5086f9/1:1/w_1656,h_1656,c_limit/Olivia-Rodrigo-Sour-Prom.jpg");*/
   background-color: #fff;
   width: 150px;
   height: 200px;
   background-size: cover;
   border-top-right-radius: 9px;
   border-bottom-right-radius: 9px;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.barcode{
   height: 100px;
   width: 100px;
}

.right span{
   font-weight: 500;
   margin-top: 10px;
   color: #075E54;
}

.harga{
   flex-direction: column;
   display: flex;
}

.presale{
   font-size: 20px;   
}

.rupiah{
   /* align-items: center; */
   justify-content: center;
   flex-direction: row;
   display: flex;
}

.rupiah .rp{
   margin-top: 7px;
   font-size: 15px;
   font-weight: bold;
}

.rupiah .h175k{
   margin-left: 4px;
   font-size: 35px;
   font-weight: bold;
}


.count-conta {
   flex-direction: column;
   display: flex;
   justify-content: center;
   align-items: center;
}

.countdown-title {
   margin-bottom: 40px;
   font-size: 3.5rem;
   font-family: 'Montserrat', sans-serif;

}

.countdown-container {
   display: flex;
   flex-direction: row;
}

.countdown-box-days {
   background-color: #EF2F3C;
   justify-content: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100px;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   font-family: 'Lato', sans-serif;
   font-size: 50px;
   font-weight: bold;
   color: white;
}
.countdown-box-days span{
   font-size: 2.5rem;
}

.countdown-box-hours {
   background-color: green;
   justify-content: center;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   font-family: 'Lato', sans-serif;
   font-size: 50px;
   font-weight: bold;
   color: white;
}

.countdown-box-hours span {
   font-size: 2.5rem;
}

.countdown-box-minutes {
   background-color: #276FBF;
   justify-content: center;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   font-family: 'Lato', sans-serif;
   font-size: 50px;
   font-weight: bold;
   color: white;
}

.countdown-box-minutes span {
   font-size: 2.5rem;
}

.countdown-box-seconds {
   background-color: #F0A202;
   justify-content: center;
   width: 100px;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 10px;
   margin: 10px;
   border-radius: 5px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   font-family: 'Lato', sans-serif;
   font-size: 50px;
   font-weight: bold;
   color: white;
}

.countdown-box-seconds span {
   font-size: 2.5rem;
}

.countdown-label {
   font-size: 18px;
   color: #999;
   display: block;
   margin-top: 10px;
}

@media screen and (max-width:800px) {
   .count-conta{
      width: 100%;
      justify-content: center;
      display: flex;
      margin-bottom: 20px;
      align-items: center;
   }
   .countdown-box-days{
      margin-top: 20px;
      width: 20%;
   }
   .countdown-box-hours {
      margin-top: 20px;
      width: 20%;
   }
   .countdown-box-minutes {
      margin-top: 20px;
      width: 20%;
   }
   .countdown-box-seconds {
      margin-top: 20px;
      width: 20%;
   }
}