@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.event-container{
   max-width: 1200px;
   margin:0 auto;
   padding:1rem 2rem;
}

.event-container .event-title{
  font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-align: center;
}

.event-container .daftar-event{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap:10px;
}

.event-container .daftar-event .event{
   max-height: 50vh;
   width: 100%;
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.event-container .daftar-event .event:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.event-container .daftar-event .event img{
   height: 90%;
}

.event-container .daftar-event .event:hover img{
   transform: scale(.9);
}

.event-container .daftar-event .event h3{
   padding:.5rem 0;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
   color:#444;
}

.event-container .daftar-event .event:hover h3{
   color:#27ae60;
}

.event-container .daftar-event .event .price{
   font-size: 1rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:5rem;
   width: 30rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 15rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 2rem;
   transition: transform 0.5s;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
  font-family: 'Montserrat', sans-serif;
   color:#444;
   padding:.5rem 0;
   font-size: 1.25rem;
}


.products-preview .preview p{
  font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1rem;
   color:#777;
}





@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

/* kontak  */
.kontak-container{
   max-width: 1200px;
   margin:0 auto;
   padding:1rem 2rem;
}

.kontak-container .kontak-title{
  font-family: 'Montserrat', sans-serif;
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-align: center;
}

.contact-info{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.kontak{
  justify-content: center;
  align-items: center;
  display: contents;
}
.row{
   display: flex;
   justify-content: center;
   align-items: center;
}

.row .map {
  border-radius: 10px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
  object-fit: cover;
}

.card-info{
  border-radius: 10px;
  background: #fff;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in;
}

.contact-info a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 50px;
  background-color: #131419;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: -5px -5px 10px #ffffff09, 5px 5px 10px #00000000 ;
  transition: all .5s ease-in;
}

.contact-info a:hover{
  box-shadow: inset -5px -5px 10px #ffffff09,inset 5px 5px 10px #00000000 ;
}

.icons{
  margin-right: 15px;
  transition: all .5s ease-in-out;
}

.contact-info a:hover .icons{
  transform: rotate(360deg) scale(1.5);
}

span{
  font-size: 14px;
  letter-spacing: 2px;
}


.icon1 span:hover {
  color: #0330fa;
  text-shadow: 0px 0px 20px #0330fa70;
}

.icon2 span:hover {
  color: #fa0361;
  text-shadow: 0px 0px 20px #fa036170;
}

.icon3 span:hover {
  color: #036efa;
  text-shadow: 0px 0px 20px #036efa70;
}

.icon4 span:hover {
  color: #075E54;
  text-shadow: 0px 0px 20px #075E5470;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .contact-info a{
   width: 100%;
  }
  .card-info{
    width: 150%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.ticket {
	margin: auto;
	display: flex;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left {
	display: flex;
}

.image {
	height: 250px;
	width: 250px;
	background-image: url("https://media.pitchfork.com/photos/60db53e71dfc7ddc9f5086f9/1:1/w_1656,h_1656,c_limit/Olivia-Rodrigo-Sour-Prom.jpg");
	background-size: contain;
	opacity: 0.85;
}

.admit-one {
	position: absolute;
	color: darkgray;
	height: 250px;
	padding: 0 0px;
	letter-spacing: 0.15em;
	display: flex;
	text-align: left;
	justify-content: space-around;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.admit-one span:nth-child(1) {
	color: black;
	font-weight: 700;
}
.admit-one span:nth-child(2) {
	color: white;
	font-weight: 700;
}
.admit-one span:nth-child(3) {
	color: black;
	font-weight: 700;
}

.left .ticket-number {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
}

.ticket-info {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span {
	width: 100px;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .june-29 {
	color: #d83565;
	font-size: 20px;
}
.date .day {
	color: #000;
	font-size: 15px;
}

.show-name {
	font-size: 18px;
	font-family: "Nanum Pen Script", cursive;
	color: #000;
}

.show-name h1 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #4a437e;
}

.time {
	padding: 10px 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 700;
}

.time span {
	font-weight: 400;
   font-size: 10px;
	color: gray;
}

.left .time {
	font-size: 16px;
}


.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	border-top: 1px solid gray;
}

.location .separator {
	font-size: 20px;
}

.right {
	width: 180px;
	border-left: 1px dashed #404040;
}

.right .admit-one {
	color: darkgray;
}

.right .admit-one span:nth-child(2) {
	color: gray;
}

.right .right-info-container {
	height: 250px;
	padding: 10px 10px 10px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.right .show-name h1 {
	font-size: 18px;
}

.barcode {
	height: 100px;
}

.barcode img {
	height: 100%;
}

.right .ticket-number {
	color: gray;
}
.right .ticket-number-black {
	color: black;
}
