@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

.event-container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.event-container .event-title{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
   font-size: 25px;
   color:#444;
   margin-bottom: 3rem;
   text-align: center;
}

.event-container .daftar-event{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap:10px;
}

.event-container .daftar-event .event{
   max-height: 50vh;
   width: 100%;
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.event-container .daftar-event .event:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.event-container .daftar-event .event img{
   height: 90%;
}

.event-container .daftar-event .event:hover img{
   transform: scale(.9);
}

.event-container .daftar-event .event h3{
   padding:.5rem 0;
   font-size: 1rem;
   color:#444;
}

.event-container .daftar-event .event:hover h3{
   color:#27ae60;
}

.event-container .daftar-event .event .price{
   font-size: 1rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:5rem;
   width: 30rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 15rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 2rem;
   transition: transform 0.5s;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 1.25rem;
}


.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1rem;
   color:#777;
}





@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

/* kontak  */
.section-contact {
  background-color: #42763d;
  padding: 1rem 7% 1.4rem;
}
.section-contact h2 span {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2.5rem;
}
.section-contact p {
  color: #000;
  font-size: 1.2rem;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}
.contact-container {
  width: 30%;
  height: 60vh;
	display: flex;
	flex-direction: column;
}
.contact-info {
	padding: 10px;
	text-align: center;
}
.contact-info p {
	margin: 0;
	font-size: 14px;
  font-weight: bold;
	color: #777;
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 16px;
  color: #666;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
  /* align-items: center; */
}

.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.contact-box span {
  margin-left: 10px;
}

.instagram {
  background-color: #e1306c;
}

.whatsapp {
  background-color: #25d366;
}

.twitter {
  background-color: #1da1f2;
}

.contact-box:hover {
  transform: translateY(-2px);
}

.fi {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}



.section-contact .row {
  border-radius: 10px;
  display: flex;
  margin-top: 2rem;
  background-color: #1c1b29;
}

.section-contact .row .map {
  border-radius: 10px;
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  .contact-info {

    justify-content: center;
    display: flex;
    width: 320%;
    padding: 10px;
    text-align: center;
  }
  .contact-info p {
    /* margin-right: ; */
    font-size: 14px;
    color: #777;
  }
    .contact-box {
      width: 370%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 10px;
      padding: 10px;
      background-color: #00ebb0b0;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      border-radius: 10px;
    }

    .contact-icon p{
      margin-right: 20px;
    }

    .instagram {
      background-color: #e1306c;
    }
    
    .whatsapp {
      background-color: #25d366;
    }
    
    .twitter {
      background-color: #1da1f2;
    }
    .section-contact .row {
      flex-wrap: wrap;
    }
  
    .section-contact .row .map {
      height: 50rem;
    }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
