@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

$blue: #1c9dcc;
$yellow: #f6b418;
$white: #ffffff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: .2rem solid $blue;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: $black-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $yellow;
    }
}



body {
    background: $blue;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;

    span {
        color: $yellow;
        font-weight: 800;
        font-size: 2rem;
    }

    h1 {
        font-size: 4rem;
        color: $white;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: $white;
    border: .2rem solid $white;
    border-radius: 5rem;
    cursor: pointer;
    background: none;

    &:hover {
        background: $white;
        color: $blue;
    }

}

// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1000;
//     background: $yellow;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 1.5rem 9%;

//     .navbar a {
//         font-size: 1.7rem;
//         color: $white;
//         display: inline-block;
//         margin: 0 1rem;

//         &:hover {
//             color: #29d9d5;
//         }
//     }

//     .btn {
//         margin-top: 0;
//     }
// }

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

  
    .navbar.active {
      display: flex;
      background-color: #1c9dcc;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar a {
      font-size: 1.7rem;
      color: $white;
      display: inline-block;
      margin: 0.5rem 1rem;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: #29d9d5;
      }
    }
  }



.logo {
    font-size: 2.5rem;
    color: white;
    font-weight: bolder;

    i {
        color: #29d9d5;
        padding-right: .5rem;
    }
}

#menu-btn {
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: none;
}

.home {
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background: linear-gradient($black-bg, $black-bg), url(../images/BCWF_SLIDEPOST_REV1_01052023-01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content {
        text-align: center;

        span {
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw;
            display: block;
        }

        h3 {
            font-size: 6vw;
            color: $white;
        }

        p {
            max-width: 60rem;
            margin: 1rem auto;
            font-size: 1.8rem;
            color: $light-color;
            line-height: 2;
        }
    }
}

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: $yellow;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);
    padding: 3rem 2rem;
    align-items: center;
    display: flex;
    justify-content: center;

    .title {
        font-size: 2.8rem;
        font-weight: bolder;
        color: $white;
    }

    .countdown {
        width: 60vw;
        justify-content: space-around;
        display: flex;

        .box {
            width: 20%;
            height: 8vh;
            padding: 20px;
            // background-color: $blue;
            border-radius: 2rem;
            align-items: center;
            display: flex;
            justify-content: center;

            .num {
                font-size: 3rem;
                margin-right: 1rem;
                color: $white;
            }

            .text {
                font-size: 2rem;
                font-weight: 500;
                color: $white;
            }
        }
    }
}


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.about .row .image{
    flex:1 1 30rem;
    padding: 1rem;
}
.about .row .image img{
    width: 100%;
    border-radius: .5rem;
    border: 1rem solid $yellow;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    font-size: 3.5rem;
    color: #fff;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 2;
}

.detail_about {
    width: 80%;
    height: 100vh;
    margin-top: 100px;
    justify-content: center;

    h3 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.event{
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.event .box-container {
    @include grid(27rem);

    .box {
        border-radius: 1rem;
        border: .2rem solid $white;
        overflow: hidden;
        background: $white;
    }

    &:hover img {
        transform: scale(1.1);
    }

    // .image {
    //     height: 25rem;
    //     overflow: hidden;
    //     width: 100%;

    //     img {
    //         height: 100%;
    //         width: 100%;
    //         object-fit: cover;
    //     }
    // }

    .content {
        padding: 1rem;
        border-top: .2rem solid $white;
        text-align: center;

        h3 {
            font-size: 2rem;
            color: $yellow;
        }

        p {
            padding: 1rem 0;
            font-size: 1.4rem;
            color: $yellow;
            line-height: 2;
        }

        a {
            font-size: 1.7rem;
            color: $yellow;

            &:hover i {
                padding-left: 1rem;
            }

            i {
                padding-right: .5rem;
            }
        }
    }
}

.venue{
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.venue .box-container {
    @include grid(32rem);

    .box {
        background: $white;
        border-radius: 1rem;
        padding: 3rem;
        text-align: center;
        border: .2rem solid #000;

        &:hover {
            border: $border;
        }

        img {
            width: 280px;
            height: 25vh;
            border-radius: 1rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 2rem;
            color: #000;
        }

        p {
            padding: 1rem 0;
            font-size: 1.4rem;
            color: #111;
            line-height: 2;
        }
        a {
            font-size: 1.5rem;
            color: $yellow;

            &:hover i {
                padding-left: 1rem;
            }

            i {
                padding-right: .5rem;
            }
        }
    }
}

.lineup{
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .content{
        text-align: center;
        margin-top: 50px;
    }
}

.lineup .home-slider .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 50rem;    
    width: 35rem;

    .card {
        width: 35rem;
        height: 55rem;
        background: $yellow;
        padding: .4em;
        border-radius: 6px;
      }
      
      .card-image {
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 70%;
        border-radius: 6px 6px 0 0;
        object-fit: cover;
      }
      
      .card-image:hover {
        -webkit-transform: scale(0.98);
            -ms-transform: scale(0.98);
                transform: scale(0.98);
      }
      
      .category {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.7em;
        font-weight: 600;
        color: rgb(63, 121, 230);
        padding: 10px 7px 0;
      }
      
      .category:hover {
        cursor: pointer;
      }
      
      .heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(88, 87, 87);
        padding: 7px;
      }
      
      .heading:hover {
        cursor: pointer;
      }
      
      .author {
        color: gray;
        font-weight: 400;
        font-size: 11px;
        padding-top: 20px;
      }
      
      .name {
        font-weight: 600;
      }
      
      .name:hover {
        cursor: pointer;
      }
}
.lineup .home-slider .swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team{
   margin-top: 6rem;
   background: #29d9d5;
   box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5); 

   h2{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: white;
   }
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 
 .container .title{
    font-size: 3.5rem;
    color:#444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
 }
 
 .container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:2rem;
 }
 
 .container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 
 .container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .container .products-container .product img{
    height: 20rem;
 }
 
 .container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .container .products-container .product:hover h3{
    color:#27ae60;
 }
 
 .container .products-container .product .price{
    font-size: 2rem;
    color:#444;
 }
 
 .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#27ae60;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#27ae60;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }

.blogs{
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.blogs .box-container {
    @include grid(32rem);

    .box {
        border-radius: 1rem;
        background: $bg-color;
        overflow: hidden;

        &:hover {
            .image img {
                transform: scale(1.1);
            }
        }

        .image {
            height: 25rem;
            overflow: hidden;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;

            .link {
                font-size: 2rem;
                color: $white;

                &:hover {
                    color: $blue;
                }
            }

            p {
                padding: 1rem 0;
                font-size: 1.4rem;
                color: $light-color;
                line-height: 2;
            }

            .icon {
                padding-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                a {
                    font-size: 1.4rem;
                    margin-right: 2px;
                    color: $light-color;

                    &:hover {
                        color: $blue;
                    }

                    i {
                        padding-right: .5rem;
                        color: $blue;
                    }
                }
            }

        }
    }
}

.tiket{
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tiket .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.tiket .box-container .box {
    padding: 2rem 0;
    background: #222;
    border-radius: 2rem;
    text-align: center;
}

.tiket .box-container .box:hover {
    transform: scale(1.03);
}

.tiket .box-container .box .title {
    background: $yellow;
    color: $white;
    padding: 1.5rem 0;
    font-size: 2rem;
}

.tiket .box-container .box .price {
    color: $white;
    padding-top: 2rem;
    font-size: 2rem;
}

.tiket .box-container .box ul {
    list-style-type: none;
    padding: 1rem 0;
}

.tiket .box-container .box ul li {
    font-size: 1.5rem;
    color: #eee;
    padding: 1rem 0;
}

.tiket .box-container .box ul li i {
    color: $white;
    padding-right: .5rem;
}

.tiket .box-container .box .btn {
    margin-bottom: 0;
}

.banner {
    background: linear-gradient($black-bg, $black-bg), url(../images/BCWF_SLIDEPOST_REV1_01052023-01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    background-attachment: fixed;
    text-align-last: center;

    .content {

        span {
            font-size: 2rem;
            color: $blue;
        }

        h3 {
            font-size: 4rem;
            color: $white;
            margin-top: 1rem;
        }

    }
}

.footer {
    background-image: url(../images/blob-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    .box-container {
        @include grid(25rem);

        .box {
            padding: 1rem 0;

            .logo {
                padding-bottom: 1rem;
            }

            h3 {
                font-size: 2.2rem;
                color: $white;
            }

            p {
                font-size: 1.4rem;
                color: $white;
                padding: 1rem 0;
                line-height: 2;

                i {
                    padding-right: .5rem;
                    color: $yellow;
                }
            }

            .share {
                padding-top: 1rem;

                a {
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4rem;
                    font-size: 1.7rem;
                    border-radius: 50%;
                    border: .2rem solid $white;
                    color: $white;
                    margin-right: .5rem;
                    text-align: center;

                    &:hover {
                        background: $white;
                        color: $blue;
                    }
                }
            }

            .links {
                font-size: 1.4rem;
                color: $white;
                padding: 1rem 0;
                display: block;

                &:hover {
                    color: $yellow;

                    i {
                        padding-right: 2rem;
                    }
                }

                i {
                    padding-right: .5rem;
                    color: $white;
                }
            }

            iframe {
                height: 40vh;
            }
        }
    }
}

.credit {
    background: $yellow;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: $white;

    span {
        color: $blue;
    }
}



@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width:768px) {

    #menu-btn {

        display: inline-block;
    }

    .header {
        .navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background-color: $bg-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            &.active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            a {
                margin: 2rem;
                font-size: 2rem;
                display: block;
            }
        }
    }

    .home {
        margin-top: 10rem;

        .content {
            span {
                font-size: 8vw;
            }

            h3 {
                font-size: 9vw;
            }
        }
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .about .content h3 {
        font-size: 3.5rem;
    }

    .banner .content h3 {
        font-size: 2.7rem;
    }

    .team__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}